h1{
    font-family: beyond;
    background-color: #4c1929;
    color: #eeeeee;
    font-size: 10vw;
    text-align: center;
    margin: 4% 4% 0% 4%;

}
h2 {
    font-family: dream;
    margin: 0% 4% 4% 4%;
    background-color: #4c1929;
    color: #eeeeee;
    font-size: 2vw;
    text-align: center;
    padding-bottom: 2%;
}