@font-face {
    font-family: beyond;
    src: url('../assets/fonts/BeyondWonderland.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: fairy;
    src: url('../assets/fonts/FairyDustB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: ghost;
    src: url('../assets/fonts/Ghosttheory.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: vampire;
    src: url('../assets/fonts/Scary_Vampire.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: dream;
    src: url('../assets/fonts/DreamOrphans.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}